body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: url("../images/full-bloom/full-bloom.png");
}

.container {
    padding: 0;
    margin: auto;
}

.container-fluid {
    padding: 0;
    margin: auto;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

/* Header */



.row {
    max-width: 960px;
    margin: auto;
}

.col-sm-12 {
    width: 100%;
    padding: 0;
    margin: 0;
}

#header {
    background: white;
    margin-bottom: 30px;
    border-bottom: 3px solid #ddd;
}

#logo {
    float: left;
    width: 300px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

nav {
    margin-top: 28px;
}
  
nav a {
    color: #999;
    text-decoration: none;
}


/* Main Content for About Me */

#main-section {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    max-width: 960px;
  }

.auth-image {
    margin-top: 10px;
    margin-right: 25px;
  }

/* Main Content for Portfolio */

.work {
    position: relative;
    float: left;
    width: 258px;
    height: 250px;
    margin: 20px 20px 25px;
    overflow: hidden;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

/* footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


