body {
    color: #777;
    background: url("../images/full-bloom/full-bloom.png");
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
    margin: auto;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    color: grey;
}

/* Header */

.row {
    max-width: 960px;
    margin: auto;
}

.col-md-6 .col-sm-12 {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

header {
    background: white;
    margin-bottom: 30px;
    border-bottom: 3px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#logo {
    float: left;
    width: 320px;
    height: 90px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    color: whitesmoke;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
    background: gray;
}
  
a {
    color: darkorange;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: orangered;
}

.nav {
    background-color: white;
}


/* Main Content for About Me */

#main-section, #portfolio {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
  }

#main-section {
    margin-top: 120px;
}

#portfolio {
    margin-bottom: 70px;
}

.auth-image {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

.profiles {
    float: left;
}

/* Main Content for Portfolio */

.card {
    position: relative;
    float: left;
    margin: 10px;
}

.card-body {
    background-color: white;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

/* footer */

footer {
    position: fixed;
    padding: 10px 0 30px;
    clear: both;
    font-size: 12px;
    text-align: center;
    background: lightgray;
    height: 40px;
    bottom: 0;
    width: 100%;
  }
